@charset "UTF-8";

$site-color: #E71D36;
$site-nav-background-color: rgba(23, 10, 28, 0.95);
$site-nav-font-color: #E71D36;
$site-anti-color: white;

$font-family-head: 'Oswald', sans-serif;
$font-family-body: 'M PLUS Rounded 1c', sans-serif;
$font-body-size: 1.4rem;
$sentence-color: rgb(32, 32, 34);


